[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
chompjs = "*"
httpx = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pytest = "*"
bpython = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
